* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fffffc;
}

.main-container {
	background: url(../../assets/images/bg.jpeg) no-repeat center;
	background-size: cover;
	box-shadow: -1px 1px 1px #800000;
}

.main-container2 {
	background: url(../../assets/images/meet-bg.jpg) no-repeat center;
	background-size: cover;
	box-shadow: -1px 1px 1px #800000;
}

.overlay {
	background: rgba(162,22,22,0.8);
	width: 100%;
	height: 100%;
}

.banner-content {
	padding: 110px 0;
}

.banner-content2 {
	padding: 30px 0;
}

/*main color #800000*/

a {
	font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nanum Myeongjo', serif;
}

p {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
	line-height: 1.8;
}

.p-off-white {
	/*color: #e5e5dc;*/
	color: #fffffc;
}

.heading-color {
	color: #a21616;
}

/*navbar portion*/

.navbar ul li a {
	font-size: 15px;
	margin-left: 25px;
	margin-bottom: 1px;
	/*border-bottom: 1px solid rgba(23,23,23,0);*/
	opacity: 0.8;
}

.navbar ul li a:hover, .navbar ul li a:active {
	font-size: 15px;
	margin-left: 25px;
	border-bottom: 1px solid #fffffc;
}

.active {
	font-size: 16px;
	margin-left: 25px;
	border-bottom: 1px solid #fffffc;
}

.active2 {
	font-size: 16px;
	margin-left: 25px;
	border-bottom: 1px solid rgba(23,23,23,0);
}

.brand-opacity {
	opacity: 0.8;
}

.navbar .navbar-brand:hover, .navbar-brand:active {
	font-size: 100px;
}


.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  color: #fffffc;
}

.schedule-bg {
	background-color: #1f7676;
}

/*footer portion*/
.footer-container {
	background-color: #330000;
}

.footer-container ul {
	list-style: none;
}

.footer-container ul li {
	display: inline;
}

.footer-text-color {
	color: #c53333;
}

.button-border-radius {
	border-radius: 0;
}

.button-bg {
	background-color: #003636;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px; 
}

.bio-button-bg {
	border-radius: 0;
	border: 1px solid;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px; 
}

.footer-links {
	list-style: none;
}

.footer-links li {
	display: inline;
	padding: 0 15px;
}

.footer-links2 li {
	display: inline;
	padding: 0 6px;
}

.footer-links a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	color: #6c757d;
}

.footer-links2 a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	color: #6c757d;
}

.footer-p {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	color: #6c757d;
}

.btn-outline-danger {
  color: #a21616;
  background-color: transparent;
  background-image: none;
  border-color: #a21616;
}

.btn-outline-danger:hover {
  	color: #fff;
  	background-color: #a21616;
  	border-color: #a21616;
}

.navbar {
	border-bottom: 1px solid rgba(255,255,252,0.3);
}

.navbar-toggler {
  	padding: 0.25rem 0.75rem;
  	font-size: 1.25rem;
  	line-height: 1;
  	background-color: transparent;
  	border: 1px solid rgba(81,0,0,0.6);
  	border-radius: 0.25rem;
}

.hamburger-color {
	font-size: 27px;
	color: rgba(81,0,0,0.6);
}

/*For xs up to sm breakpoint*/
@media only screen and (max-width: 576px) and (min-width: 100px) {
	p {
		font-size: 12px;
	}

	h1 {
		font-size: 37px;
	}

	h2 {
		font-size: 29px;
	} 

	h4 {
		font-size: 21px;
	}

	.navbar ul li a {
	font-size: 13px;
	margin-left: 25px;
	border-bottom: 1px solid rgba(23,23,23,0);
	opacity: 0.9;
	}

	.navbar ul li a:hover, .navbar ul li a:active {
	font-size: 13px;
	margin-left: 25px;
	border-bottom: 1px solid #fffffc;
	}

	.footer-links a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 10px;
	color: #6c757d;
	}

	.footer-links2 a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 10px;
	color: #6c757d;
	}

	.footer-p {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11px;
	color: #6c757d;
	}

	.button-bg {
	background-color: #003636;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px; 
	}

	.bio-button-bg {
	border-radius: 0;
	border: 1px solid;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px; 
	}
}

@media only screen and (max-width: 991px) and (min-width: 577px) {
	.navbar ul li a {
		font-size: 15px;
		margin-left: 25px;
		margin-bottom: 1px;
		border-bottom: 1px solid rgba(23,23,23,0);
		opacity: 0.8;
	}
}

