* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fffffc;
}

.main-container {
	background: url(../../assets/images/bg.jpeg) no-repeat center;
	background-size: cover;
	box-shadow: -1px 1px 1px #800000;
}

.main-container2 {
	background: url(../../assets/images/meet-bg.jpg) no-repeat center;
	background-size: cover;
	box-shadow: -1px 1px 1px #800000;
}

.main-container3 {
	background: url(../../assets/images/whatwedo.jpeg) no-repeat center;
	background-size: cover;
	box-shadow: -1px 1px 1px #800000;
}

.overlay {
	background: rgba(162,22,22,0.8);
	width: 100%;
	height: 100%;
}

.overlay-grey {
	background: rgba(102,102,102,0.5);
	width: 100%;
	height: 100%;
}

.banner-content {
	padding: 110px 0;
}

.banner-content2 {
	padding: 30px 0;
}

/*main color #800000*/

a {
	font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nanum Myeongjo', serif;
}

p {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
	line-height: 1.8;
}

.p-off-white {
	/*color: #e5e5dc;*/
	color: #fffffc;
}

.heading-color {
	color: #a21616;
}

/*navbar portion*/

.navbar ul li a {
	font-size: 15px;
	margin-left: 25px;
	margin-bottom: 1px;
	/*border-bottom: 1px solid rgba(23,23,23,0);*/
	opacity: 0.8;
}

.navbar ul li a:hover, .navbar ul li a:active {
	font-size: 15px;
	margin-left: 25px;
	border-bottom: 1px solid #fffffc;
}

.active {
	font-size: 16px;
	margin-left: 25px;
	border-bottom: 1px solid #fffffc;
}

.active2 {
	font-size: 16px;
	margin-left: 25px;
	border-bottom: 1px solid rgba(23,23,23,0);
}

.brand-opacity {
	opacity: 0.8;
}

.navbar .navbar-brand:hover, .navbar-brand:active {
	font-size: 100px;
}


.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  color: #fffffc;
}

.schedule-bg {
	background-color: #1f7676;
}

/*footer portion*/
.footer-container {
	background-color: #330000;
}

.footer-container ul {
	list-style: none;
}

.footer-container ul li {
	display: inline;
}

.footer-text-color {
	color: #c53333;
}

.button-border-radius {
	border-radius: 0;
}

.button-bg {
	background-color: #094E4E;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px; 
}

.bio-button-bg {
	border-radius: 0;
	border: 1px solid;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px; 
}

.footer-links {
	list-style: none;
}

.footer-links li {
	display: inline;
	padding: 0 15px;
}

.footer-links2 li {
	display: inline;
	padding: 0 6px;
}

.footer-links a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	color: #6c757d;
}

.footer-links2 a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	color: #6c757d;
}

.footer-p {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	color: #6c757d;
}

.btn-outline-danger {
  color: #a21616;
  background-color: transparent;
  background-image: none;
  border-color: #a21616;
}

.btn-outline-danger:hover {
  	color: #fff;
  	background-color: #a21616;
  	border-color: #a21616;
}

.navbar {
	border-bottom: 1px solid rgba(255,255,252,0.3);
}

.navbar-toggler {
  	padding: 0.25rem 0.75rem;
  	font-size: 1.25rem;
  	line-height: 1;
  	background-color: transparent;
  	border: 1px solid rgba(81,0,0,0.6);
  	border-radius: 0.25rem;
}

.hamburger-color {
	font-size: 27px;
	color: rgba(81,0,0,0.6);
}

.img-style {
	width: 100%;
	height: auto;
	background-color :#666;
	box-shadow: -1px 1px 1px #969685;
}

.group-img-style {
	width: 100%;
	height: auto;
	background-color :#666;
	box-shadow: -1px 1px 1px #969685;
}

.portrait-style { /*for meet page*/
	height: auto;
	width: 100%;
	background-color :#666;
	box-shadow: -1px 1px 1px #969685;
}

.portrait-style2 { /*for bio page*/
	display: inline;
	float: left;
	width: 46%;
	height: auto;
	background-color :#666;
	box-shadow: -1px 1px 1px #969685;
}

.contact-font-size {
	font-size: 19px;
	color: #6c757d;
}

.input-design {
	border-radius: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px;
}


/*Hover styles*/
/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: orange;
}

/*end of hover styles*/




/*Start of media queries*/

/*For xs up to sm breakpoint*/
@media only screen and (max-width: 576px) and (min-width: 100px) {
	p {
		font-size: 12px;
	}

	h1 {
		font-size: 37px;
	}

	h2 {
		font-size: 29px;
	} 

	h4 {
		font-size: 21px;
	}

	.navbar ul li a {
	font-size: 13px;
	margin-left: 25px;
	border-bottom: 1px solid rgba(23,23,23,0);
	opacity: 0.9;
	}

	.navbar ul li a:hover, .navbar ul li a:active {
	font-size: 13px;
	margin-left: 25px;
	border-bottom: 1px solid #fffffc;
	}

	.footer-links a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 10px;
	color: #6c757d;
	}

	.footer-links2 a {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 10px;
	color: #6c757d;
	}

	.footer-p {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11px;
	color: #6c757d;
	}

	.button-bg {
	background-color: #003636;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px; 
	}

	.bio-button-bg {
	border-radius: 0;
	border: 1px solid;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px; 
	}

	.margin-bottom-contact {
		margin-bottom: 100px;
	}

	.input-design {
	border-radius: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11px;
	}
}

@media only screen and (max-width: 991px) and (min-width: 577px) {
	.navbar ul li a {
		font-size: 15px;
		margin-left: 25px;
		margin-bottom: 1px;
		border-bottom: 1px solid rgba(23,23,23,0);
		opacity: 0.8;
	}
}

/*For xs*/
@media only screen and (max-width: 575px) and (min-width: 100px) {
	.img-style {
	width: 100%;
	height: auto;
	background-color :#666;
	box-shadow: -1px 1px 1px #969685;
	}

	.portrait-style2 { /*for bio page*/
		display: inline;
		float: left;
		width: 100%;
		height: auto;
		background-color :#666;
		box-shadow: -1px 1px 1px #969685;
		margin-bottom: 30px;
	}

	.hide-picture {
		display: none;
	}

}

/*for sm*/
@media only screen and (max-width: 767px) and (min-width: 576px) {
	.img-style {
	width: 350px;
	height: auto;
	background-color :#666;
	box-shadow: -1px 1px 1px #969685;
	}

	.group-img-style {
	width: 10px;
	height: auto;
	}

	.portrait-style2 { /*for bio page*/
		display: inline;
		float: left;
		width: 45%;
		height: auto;
		background-color :#666;
		box-shadow: -1px 1px 1px #969685;
	}

}

@media only screen and (max-width: 767px) and (min-width: 100px) {
	.margin-botton-xs-sm {
		margin-bottom: 30px;
	}

	.portrait-style {
		width: 45%;
		height: auto;
		background-color :#666;
		box-shadow: -1px 1px 1px #969685;
	}
}


/*MD breakpoint*/
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.portrait-style {
		width: 45%;
		height: auto;
		background-color :#666;
		box-shadow: -1px 1px 1px #969685;
	}

	.portrait-style2 { /*for bio page*/
		display: inline;
		float: left;
		width: 42%;
		height: auto;
		background-color :#666;
		box-shadow: -1px 1px 1px #969685;
	}
}


@media only screen and (max-width: 320px) and (min-width: 100px) {
	.smaller {
	font-size: 25px;
	}
}

@media only screen and (max-width: 2000px) and (min-width: 578px) {
	.hide-small-img {
		display: none;
	}
}
